{% extends 'base.html' %} {% block title %}About | Mesopotamia Solar{% endblock
%} {% block content %}
<div class="about-us">
  <section>
    <div class="vision-block">
      <h2>About Mesopotamia Solar</h2>
      <p>
        Mesopotamia Solar is committed to transforming the energy landscape in
        Iraq by introducing sustainable and innovative solar power solutions.
        With deep roots in the region and a forward-looking mission, we aim to
        harness the power of the sun to build a greener future for generations
        to come.
      </p>
    </div>
  </section>

  <section>
    <div class="vision-block">
      <h2>Our Vision</h2>
      <p>
        To be Iraq’s leading provider of clean, reliable, and affordable solar
        energy systems, empowering communities and businesses through
        sustainable solutions.
      </p>
    </div>
    <div class="vision-block">
      <h2>Our Mission</h2>
      <p>
        We strive to deliver high-quality solar technologies with unmatched
        performance, tailored to local needs, while promoting environmental
        consciousness and energy independence.
      </p>
    </div>
  </section>

  <section>
    <div class="vision-block">
      <h2>What We Offer</h2>
      <p class="whatweof">
        Commercial and residential solar installations Off-grid and hybrid solar
        solutions Solar system design and consultancy Maintenance and
        after-sales support
      </p>
    </div>
  </section>

  <section>
    <div class="vision-block">
      <h2>Why Choose Us</h2>
      <p>
        With a passionate team, top-tier solar technology, and strong ties to
        both the U.S. and Iraqi markets, we bring reliability, innovation, and
        local expertise to every project.
      </p>
    </div>
  </section>
</div>
{% endblock %}
